<h1>Customers homepage</h1>
<br />
<% if customer_signed_in? %>
  <p> Welcome customer </p>
  <%= current_customer.email %>


<h3> list of products </h3>
<ul>
  <% @products.each do |product| %>
    <li>
      <%#= product.name %>
      <%= link_to product.name, seller_product_url(product.id,product.seller_id) %>
    </li>
  <% end %>
</ul>

<h3> products ordered </h3>
<ul>
  <% current_customer.orders.each do |order| %>
    <li>
      <%#= product.name %>
      <%= link_to Product.find(order.product_id).name, customer_order_url(current_customer.id,order.id) %>
    </li>
  <% end %>
</ul>
  
  <%= button_to "logout", destroy_customer_session_path, method: :delete  %>
<% else %>
  <%= link_to "sign up", new_customer_registration_path %>
  <br />
  <%= link_to "log in", new_customer_session_path %>
<% end %>
