<%= @customer.email %>
<%= @order.description %>

<%= form_with model: [ current_customer, current_customer.reviews.build ] do |form| %>
  <p>
    <%= form.label :detail %><br>
    <%= form.text_field :detail %>
  </p>
  <%= form.hidden_field :product_id, :value => @order.product_id %>
  <p>
    <%= form.submit %>
  </p>
<% end %>